<h2 class="prepend-4 text-center">You're almost done...</h2>

<div class="row">
  <%= form_tag users_path, method: :post do |f| %>
  <div class="large-3 columns push-3">
    <%= image_tag @pending_user[:dp], height: 211, width: 211 %>
    <a class="register-change-photo button secondary small">Change photo</a>
  </div>

  <div class="large-4 columns pull-2">
    <input type="text" name="username" value="<%= @pending_user[:username] %>" />
    <input type="text" name="name" value="<%= @pending_user[:name] %>" />
    <input type="text" name="email" value="<%= @pending_user[:email] %>" />
    <input type="text" name="location" value="<%= @pending_user[:location] %>" />
    <%= select_tag 'timezone', time_zone_options_for_select(ActiveSupport::TimeZone.us_zones), class: 'large-12 js-select2' %>

    <p class="prepend-2">What topics are you fairly good at?</p>
    <input name="topics" type="text" class="large-12 js-select2-tokens" />

    <input type="submit" class="button prepend-2" value="Next step &rarr;">
  </div>
  <% end %>
</div>
